<?xml version="1.0" encoding="utf-8" ?>
<configuration>
    <startup> 
        <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.8" />
    </startup>
    <system.serviceModel>
        <diagnostics performanceCounters="Default" />
        <bindings>
            <netNamedPipeBinding>
                <binding name="AshishPipeBinding" maxReceivedMessageSize="524288000">
                    <readerQuotas maxStringContentLength="5242880" maxArrayLength="1073741824"
                        maxBytesPerRead="1073741824" />
                </binding>
            </netNamedPipeBinding>
        </bindings>
        <behaviors>
            <serviceBehaviors>
                <behavior name="ServiceBehaviour">
                  <dataContractSerializer maxItemsInObjectGraph="2147483647" />
                  <serviceDebug includeExceptionDetailInFaults="true" />
                  <serviceMetadata httpGetEnabled="false" />
                </behavior>
            </serviceBehaviors>
        </behaviors>
        <services>
            <service behaviorConfiguration="ServiceBehaviour" name="HelloService.HelloService">
                <endpoint address="" binding="netNamedPipeBinding" bindingConfiguration="AshishPipeBinding"
                    contract="HelloService.IHelloService" />
                <host>
                    <baseAddresses>
                        <add baseAddress="net.pipe://localhost/ashish/HelloService" />
                    </baseAddresses>
                </host>
            </service>
        </services>
    </system.serviceModel>
</configuration>