################################################################################
# This .gitignore file was automatically created by Microsoft(R) Visual Studio.
################################################################################

/.vs

/ClientApp/obj
/ClientApp/bin

/HelloService/obj
/HelloService/bin

/HostPipeService/obj
/HostPipeService/bin

/HostService/obj
/HostService/bin

/ClientDataAccess/bin
/ClientDataAccess/obj

/ConsoleClientApp/bin
/ConsoleClientApp/obj

/HelloClientService/bin
/HelloClientService/obj

/HelperClasses/bin
/HelperClasses/obj

/packages

/DataModelClasses/bin
/DataModelClasses/obj
