################################################################################
# This .gitignore file was automatically created by Microsoft(R) Visual Studio.
################################################################################

/.vs

/ClientApp/obj
/ClientApp/bin

/HelloService/obj
/HelloService/bin

/HostPintService/obj
/HostPintService/bin
