<?xml version="1.0" encoding="utf-8" ?>
<configuration>
  <configSections>
    <section name="nlog" type="NLog.Config.ConfigSectionHandler, NLog" />
  </configSections>
  <nlog xmlns="http://www.nlog-project.org/schemas/NLog.xsd" xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance">
    <extensions>
      <add assembly="VeloxImaging.APIWeb" />
    </extensions>
    <targets>
      <target name="file" xsi:type="File" fileName="${basedir}\log\ExampleTestService_${date:format=yyyyMMdd}.log" layout="${time} ${message}${exception:format=tostring}" keepFileOpen="false" networkWrites="false" concurrentWrites="true" />
    </targets>
    <rules>
      <logger name="*" minlevel="Trace" writeTo="file" />
    </rules>
  </nlog>
  <startup>
    <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.8" />
  </startup>
  <system.serviceModel>
    <!--<diagnostics performanceCounters="Default" />-->
    <bindings>
      <netNamedPipeBinding>
        <binding name="AshishPipeBinding" maxReceivedMessageSize="524288000">
          <readerQuotas maxStringContentLength="5242880" maxArrayLength="1073741824"
              maxBytesPerRead="1073741824" />
        </binding>
      </netNamedPipeBinding>
    </bindings>
    <behaviors>
      <serviceBehaviors>
        <behavior name="ServiceBehaviour">
          <dataContractSerializer maxItemsInObjectGraph="2147483647" />
          <serviceDebug includeExceptionDetailInFaults="true" />
          <serviceMetadata httpGetEnabled="false" />
        </behavior>
      </serviceBehaviors>
    </behaviors>
    <services>
      <service behaviorConfiguration="ServiceBehaviour" name="HelloService.HelloService">
        <endpoint address="" binding="netNamedPipeBinding" bindingConfiguration="AshishPipeBinding"
            contract="HelloService.IHelloService" />
        <host>
          <baseAddresses>
            <add baseAddress="net.pipe://localhost/ashish/" />
          </baseAddresses>
        </host>
      </service>
    </services>
  </system.serviceModel>
</configuration>