<?xml version="1.0" encoding="utf-8" ?>
<configuration>
  <system.serviceModel>
    <!--<diagnostics performanceCounters="Default" />-->
    <bindings>
      <netNamedPipeBinding>
        <binding 
          name="AshishPipeBinding" 
          maxReceivedMessageSize="524288000">
          <readerQuotas 
            maxStringContentLength="5242880" 
            maxArrayLength="1073741824" 
            maxBytesPerRead="1073741824" />
        </binding>
      </netNamedPipeBinding>
    </bindings>
    <client>
      <endpoint 
        address="net.pipe://localhost/ashish/" 
        binding="netNamedPipeBinding" 
        bindingConfiguration="AshishPipeBinding" 
        contract="HelloClientService.IHelloClientService" />
    </client>
  </system.serviceModel>
  <startup>
    <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.8" />
  </startup>
</configuration>